NODE_ENV=development
HTTP_PORT=8000
HOST=localhost

BASE_URL=http://localhost:8000

JWT_SECRET=
API_SECRET_KEY=
INTERNAL_API_KEY=

MONGO_URI=mongodb://localhost:27017/douyin-clone-file-server

REDIS_QUEUE_HOST=127.0.0.1
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_DB=1
REDIS_QUEUE_USERNAME=
REDIS_QUEUE_PASSWORD=
REDIS_QUEUE_TLS=false

LOGGER_MONGO_URI=mongodb://localhost:27017/douyin-clone-logger