**/*.spec.ts
**/*.test.ts
**/test-*.ts
**/__tests__/**
node_modules
dist
coverage
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-coverage
.nyc_output
jspm_packages