.ant-popover-inner {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}

.ant-form-item-control {
  vertical-align: middle;
}

.ant-select-dropdown-menu-item {
  padding: 12px 16px;
}

.ant-tag {
  width: fit-content;
}

.ant-collapse-header-text,
.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.ant-select-selection-item {
  img {
    vertical-align: middle;
  }
}

.ant-drawer {
  .ant-drawer-close {
    z-index: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .ant-drawer-header {
    padding: 15px 20px 5px;
  }
}

.ant-pagination {
  text-align: center;
  width: 100%;
}

.ant-picker {
  .ant-picker-range {
    height: 32px;
    padding: 0 10px;
  }
}

.text-center {
  text-align: center;
}

.ant-form {
  .ant-form-item {

    .ant-form-item-explain {
      color: var(--text-color);
      opacity: 0.7;
    }

    .ant-form-item-label {
      label {
        font-size: 13px;
        color: var(--text-color);
      }
    }

    .ant-form-item-extra {
      color: var(--text-color);
      opacity: 0.7;
    }
  }
}


.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
  padding: 10px 5px;
  border-color: var(--border-color);

  &::before {
    display: none;
  }
}


.ant-table-container table>thead>tr:first-child th:first-child {
  border-top-left-radius: 0;
}

.ant-table-container table>thead>tr:last-child th:last-child {
  border-top-right-radius: 0;
}

.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  padding: 10px 5px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.ant-table-thead>tr>th {
  white-space: nowrap;
}

.ant-tabs {
  .ant-tabs-tab {
    font-weight: 600;
    font-size: 16px;
    padding: 5px 15px;
    color: var(--text-color) !important;
  }

  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: var(--color-primary);
    }
  }

  .ant-tabs-ink-bar {
    background: var(--color-primary);
  }
}

.ant-image-mask {
  .ant-image-mask-info {
    display: none;
  }
}

.ant-image-preview-root {
  .ant-image-preview-mask {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

.ant-popover {
  .ant-popover-inner-content {
    padding: 0;
  }
}

.ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
  margin-left: 0;
}

.ant-descriptions-item-container .ant-descriptions-item-label,
.ant-descriptions-item-container .ant-descriptions-item-content {
  align-items: center;
}

.ant-modal {

  .ant-modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    border: 0;
    margin-top: 20px;
  }
}

.ant-select-multiple .ant-select-selector .ant-select-selection-item {
  line-height: normal;
  height: auto;
}

.ant-form-item-has-error :not(.ant-input-disabled).ant-input,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper,
.ant-form-item-has-error :not(.ant-input-disabled).ant-input:hover,
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper:hover {
  box-shadow: none;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background: transparent;
}

.ant-select .ant-select-clear {
  background-color: transparent;
}

.ant-btn-link {
  color: var(--color-primary);
}

.ant-input-textarea-show-count .ant-input-data-count {
  font-size: 11px;
}

.ant-progress {
  .ant-progress-inner {
    background-color: var(--color-grey);
  }
}

.ant-card {
  border-color: var(--border-color);

  .ant-card-body {
    background-color: var(--color-box);
  }
}

@media (max-width: 550px) {
  .ant-pro-page-container-children-container {
    padding-inline: 10px;
  }

  .ant-pagination-item,
  .ant-pagination-next,
  .ant-pagination-options,
  .ant-pagination-prev {
    margin-bottom: 8px;
  }

  .ant-card .ant-card-head {
    padding: 0 12px;
  }

  .ant-card .ant-card-body {
    padding: 12px;
  }
}

.ant-picker-dropdown .ant-picker-time-panel {
  display: none;
}

.ant-divider-horizontal {

  &::before,
  &::after {
    background: var(--border-color);
  }

  .ant-btn-link {
    color: var(--color-primary);
  }

  .ant-input-textarea-show-count .ant-input-data-count {
    font-size: 11px;
  }
}

.ant-input-number.ant-input-number-outlined {
  width: 100%;
}

[data-theme='dark'] {

  .ant-layout,
  .ant-layout-content,
  .ant-layout-sider {
    background: transparent;
    color: var(--text-color);
  }

  .ant-breadcrumb {
    color: var(--text-color);

    a {
      color: var(--text-color);

      &:hover {
        color: var(--text-color);
      }
    }

    .ant-breadcrumb-separator {
      color: var(--text-color);
    }

    li:last-child {
      color: var(--text-color);
    }

    .ant-breadcrumb-item a {
      color: var(--text-color);

      &:hover {
        color: var(--text-color);
      }
    }

    .ant-breadcrumb-link,
    .ant-breadcrumb-link>a,
    .ant-breadcrumb-link>a:hover,
    .ant-breadcrumb-overlay-link,
    .ant-breadcrumb-overlay-link:hover {
      color: var(--text-color);
    }
  }

  .ant-form-item .ant-form-item-label>label .ant-form-item-tooltip {
    color: var(--text-color);
  }

  .ant-card,
  .ant-card-head,
  .ant-card-body,
  .ant-drawer-content,
  .ant-drawer-header,
  .ant-popover-inner,
  .ant-dropdown .ant-dropdown-menu {
    background: var(--card-background) !important;
    color: var(--text-color);
    border-color: var(--border-color-base);
  }

  .ant-card {
    .ant-card-head {
      color: var(--text-color);
    }
  }

  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
  .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
    color: var(--text-color);
  }

  .ant-picker {
    background-color: var(--color-box);
    color: var(--text-color);
    border-color: var(--light-grey);

    .ant-picker-clear {
      color: var(--black);
      background-color: transparent;
    }

    .ant-picker-input>input,
    .ant-picker-separator {
      background-color: var(--color-box);
      color: var(--text-color);

      &::placeholder {
        color: var(--text-color);
      }
    }
  }

  .ant-picker:not(.ant-picker-disabled):not([disabled]).ant-picker-status-error {
    background-color: var(--color-box);
    color: var(--black);

    .ant-picker-input>input {
      min-height: 36px;
    }
  }

  .ant-picker-dropdown {
    .ant-picker-range-arrow {

      &::before,
      &::after {
        background-color: var(--color-grey);
      }
    }

    .ant-picker-panel-layout {
      background-color: var(--color-grey);
      color: var(--text-color);
    }

    .ant-picker-header,
    .ant-picker-content {

      button,
      th,
      td {
        color: var(--text-color);
      }

      .ant-picker-cell-disabled {
        color: var(--color-grey);
        opacity: 0.9;
      }
    }

    .ant-picker-cell-in-view.ant-picker-cell-in-range {
      &::before {
        background-color: var(--color-grey);
      }
    }

    .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled),
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled),
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) {
      &::before {
        background-color: var(--color-primary);
      }
    }

    .ant-picker-cell-range-start.ant-picker-cell-selected,
    .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single),
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single) {
      &::before {
        background-color: var(--color-primary);
      }
    }

    .ant-picker-header {
      color: var(--text-color);
    }

    .ant-picker-time-panel-column>li.ant-picker-time-panel-cell {
      .ant-picker-time-panel-cell-inner {
        color: var(--text-color);
      }

      &.ant-picker-time-panel-cell-selected {
        .ant-picker-time-panel-cell-inner {
          background-color: var(--color-primary);
          color: var(--text-color);
        }
      }
    }
  }

  .ant-modal-title,
  .ant-drawer-title,
  .ant-descriptions-item-label,
  .ant-descriptions-item-content,
  .ant-select-item-option-content {
    color: var(--text-color) !important;
  }

  .ant-descriptions-title {
    color: var(--text-color) !important;
  }

  .ant-table {
    background: var(--card-background);
    color: var(--text-color);
  }

  .ant-table-wrapper,
  .ant-table-container,
  .ant-table-content,
  .ant-table-body,
  .ant-table-thead,
  .ant-table-cell-scrollbar,
  .ant-table-expanded-row-fixed,
  .ant-table-placeholder,
  .ant-table-summary {
    background: var(--card-background) !important;
    border-color: var(--border-color-base) !important;
  }

  .ant-table-container {
    border-color: var(--border-color-base) !important;
  }

  .ant-table-container::before,
  .ant-table-container::after,
  .ant-table-ping-left .ant-table-cell-fix-left-first::after,
  .ant-table-ping-left .ant-table-cell-fix-left-last::after,
  .ant-table-ping-right .ant-table-cell-fix-right-first::after,
  .ant-table-ping-right .ant-table-cell-fix-right-last::after {
    box-shadow: none !important;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td,
  .ant-table tfoot>tr>th,
  .ant-table tfoot>tr>td {
    background-color: var(--card-background) !important;
    color: var(--text-color) !important;
    border-color: var(--border-color-base) !important;
  }

  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: var(--hover-background) !important;
  }

  .ant-input,
  .ant-input-affix-wrapper,
  .ant-input-number,
  .ant-input-number-input,
  .ant-select-selector,
  .ant-picker,
  .ant-mentions {
    background: var(--color-box) !important;
    color: var(--text-color) !important;
    border-color: var(--border-color-base) !important;
  }

  .ant-input::placeholder,
  .ant-input-number-input::placeholder,
  .ant-select-selection-placeholder,
  .ant-picker-input>input::placeholder {
    color: var(--text-color-secondary) !important;
  }

  .ant-select-dropdown,
  .ant-picker-dropdown .ant-picker-panel-container {
    background: var(--card-background) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color-base);
  }

  .ant-select.ant-select-outlined {
    background-color: var(--color-box);
    color: var(--text-color);
    border-color: var(--border-color-base);
  }

  .ant-select-item-option {
    color: var(--text-color);
  }

  .ant-select .ant-select-placeholder {
    color: inherit;
  }

  .ant-select.ant-select-in-form-item {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--border-color-base);
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled),
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: var(--color-primary) !important;
    color: var(--text-color) !important;
  }

  .ant-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .ant-pagination-total-text {
      color: var(--text-color);
    }

    .ant-pagination-item {

      &.ant-pagination-item-active {
        background-color: var(--color-primary);
        border-color: var(--border-color-base);

        a {
          color: var(--text-color);
        }
      }
    }

    .ant-pagination-next,
    .ant-pagination-prev {
      button {
        color: var(--text-color);
      }
    }

    .ant-pagination-disabled,
    .ant-pagination-disabled:hover {
      .ant-pagination-item-link {
        color: var(--text-color);
        opacity: 0.7;
      }
    }

    .ant-pagination-simple-pager {
      color: var(--text-color) !important;

      input {
        color: var(--text-color);
        background-color: transparent !important;
        outline: none !important;
        border: 1px solid var(--color-primary);
      }
    }

    .ant-pagination-options-quick-jumper {
      color: var(--text-color);
    }

    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      .ant-pagination-item-container {
        .ant-pagination-item-ellipsis {
          color: var(--text-color);
        }
      }
    }

    .ant-select {
      color: var(--text-color);
      background-color: transparent;
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: var(--color-primary);
  }

  .ant-tabs-ink-bar {
    background: var(--color-primary) !important;
  }

  .ant-btn-default,
  .ant-btn-dashed,
  .ant-btn-text {
    background: var(--color-box) !important;
    color: var(--text-color);
    border-color: var(--border-color-base);
  }

  .ant-btn-default:hover,
  .ant-btn-dashed:hover,
  .ant-btn-text:hover {
    background: var(--hover-background);
    border-color: var(--color-primary);
    color: var(--text-color);
  }

  .ant-divider {
    border-color: var(--border-color-base);
  }

  .ant-divider-horizontal.ant-divider-with-text {
    color: var(--text-color);
    border-block-start-color: var(--border-color-base);
  }

  .ant-typography {
    color: var(--text-color);
  }

  .ant-typography.ant-typography-secondary {
    color: var(--text-color-secondary);
  }

  .ant-layout-footer {
    color: var(--text-color);
    background-color: var(--color-box);
  }

  .ant-menu-light,
  .ant-menu-light>.ant-menu {
    background-color: transparent;
  }

  .ant-menu-light .ant-menu-item,
  .ant-menu-light>.ant-menu .ant-menu-item,
  .ant-menu-light .ant-menu-submenu-title,
  .ant-menu-light>.ant-menu .ant-menu-submenu-title {
    color: var(--text-color) !important;
    background-color: transparent;
  }

  .ant-modal {

    .ant-modal-container {
      background-color: var(--color-box);
      color: var(--text-color);
    }
  }

  .ant-modal-confirm {
    .ant-modal-confirm-title {
      color: var(--text-color);
    }
  }

  .ant-badge {
    color: var(--text-color);
  }

  .ant-badge.ant-badge-status .ant-badge-status-text {
    color: var(--text-color);
  }

  .ant-upload-wrapper {
    color: var(--text-color);
  }

  .ant-statistic {

    .ant-statistic-header {
      color: var(--text-color);

      .ant-statistic-title {
        color: var(--text-color);
      }
    }

    .ant-statistic-content {
      color: var(--text-color);
    }
  }

  .ant-checkbox-wrapper {
    color: var(--text-color);
  }

  .ant-table-wrapper {

    .ant-table-column-sorter-up,
    .ant-table-column-sorter-down {
      color: var(--gray);
    }
  }

  .ant-empty .ant-empty-description {
    color: var(--text-color);
    opacity: 0.7;
  }

  .ant-radio-wrapper {
    .ant-radio-label {
      color: var(--text-color);
    }
  }


  .ant-input-affix-wrapper {

    .ant-input-show-count-suffix {
      color: var(--text-color);
      opacity: 0.7;
    }

    .ant-input-suffix {
      .anticon.ant-input-password-icon {
        color: var(--text-color);
        opacity: 0.7;
      }
    }

    .ant-input-clear-icon {
      color: var(--text-color);
      opacity: 0.7;
    }
  }

  .ant-collapse {
    background-color: var(--color-box);
    border-color: var(--border-color-base);
    color: var(--text-color);

    .ant-collapse-panel {
      background-color: transparent;
    }

    .ant-collapse-item {
      .ant-collapse-header {
        color: var(--text-color);
        background-color: var(--color-box);
      }
    }
  }

  .ant-picker {
    .ant-picker-suffix {
      color: var(--text-color);
      opacity: 0.7;
    }
  }

  .ant-modal .ant-modal-close {
    color: var(--text-color) !important;

    &:hover {
      opacity: 0.5;
    }
  }

  .ant-menu-light.ant-menu-submenu-popup>.ant-menu,
  .ant-menu-light>.ant-menu.ant-menu-submenu-popup>.ant-menu {
    background-color: var(--color-grey);
  }

  .ant-select {

    .ant-select-suffix,
    .ant-select-prefix {
      color: var(--text-color);
    }
  }

  .ant-select-dropdown .ant-select-item-empty {
    color: var(--text-color)
  }

  .ant-select .ant-select-prefix,
  .ant-select .ant-select-suffix .ant-btn:disabled,
  .ant-btn.ant-btn-disabled {
    color: var(--text-color);
    opacity: 0.5;
  }

  .ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view,
  .ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view .ant-descriptions-row,
  .ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view .ant-descriptions-row>.ant-descriptions-item-label,
  .ant-descriptions.ant-descriptions-bordered>.ant-descriptions-view .ant-descriptions-row>.ant-descriptions-item-content {
    border-color: var(--border-color);
  }

  .ant-space-addon {
    border-color: var(--border-color);
    color: var(--text-color);
  }

  .ant-tabs-top>.ant-tabs-nav::before,
  .ant-tabs-bottom>.ant-tabs-nav::before,
  .ant-tabs-top>div>.ant-tabs-nav::before,
  .ant-tabs-bottom>div>.ant-tabs-nav::before {
    border-color: var(--border-color);
  }

  .ant-pagination .ant-pagination-item {
    background-color: transparent;
    border-color: var(--border-color);

    a {
      color: var(--text-color);
    }
  }

  .ant-pagination .ant-pagination-options-quick-jumper input {
    background-color: transparent !important;
    border-color: var(--border-color);
    color: var(--text-color);
  }

  .ant-select:not(.ant-select-customize) .ant-select-input {
    color: var(--text-color);
  }

  .ant-select-selection-item-remove,
  .ant-select-selection-item-remove .anticon,
  .ant-select-selection-item-remove svg,
  .ant-select-clear,
  .ant-select-clear .anticon,
  .ant-select-clear svg {
    color: #fff !important;
  }

  .ant-select-selection-item-remove:hover,
  .ant-select-selection-item-remove:hover .anticon,
  .ant-select-selection-item-remove:hover svg,
  .ant-select-clear:hover,
  .ant-select-clear:hover .anticon,
  .ant-select-clear:hover svg {
    color: #fff !important;
    opacity: 0.8 !important;
  }

  .sun-editor {
    background-color: var(--color-box) !important;
    border-color: var(--border-color-base) !important;

    .se-toolbar {
      background-color: var(--card-background) !important;
      outline: 1px solid var(--border-color-base) !important;
    }

    .se-resizing-bar {
      background-color: var(--card-background) !important;
      border-top: 1px solid var(--border-color-base) !important;
    }

    .se-btn {
      color: var(--text-color) !important;
      background-color: var(--card-background);

      &:hover {
        background-color: var(--hover-background) !important;
      }
    }

    .se-btn-tray {
      background-color: var(--card-background) !important;
    }

    .se-wrapper {
      .sun-editor-editable {
        background-color: var(--color-box) !important;
        color: var(--text-color) !important;
      }
    }

    .se-dialog {
      .se-dialog-inner {
        background-color: var(--card-background) !important;
        color: var(--text-color) !important;

        .se-dialog-header {
          border-bottom-color: var(--border-color-base) !important;
        }

        .se-dialog-content {
          background-color: var(--color-box) !important;
        }

        label,
        span,
        div,
        button {
          color: var(--text-color);
        }
      }
    }

    .se-list-layer {
      background-color: var(--card-background) !important;
      border-color: var(--border-color-base) !important;

      .se-list-inner {
        .se-btn-list {
          background-color: var(--card-background) !important;
          color: var(--text-color) !important;

          &:hover {
            background-color: var(--hover-background) !important;
          }
        }
      }
    }
  }

  .ant-progress-text,
  .ant-progress-indicator {
    color: var(--text-color) !important;
  }
}
