API_SERVER_ENDPOINT=http://localhost:8080
NEXT_PUBLIC_API_ENDPOINT=http://localhost:8080

SITE_URL=http://localhost:8081
NEXT_PUBLIC_SITE_URL=http://localhost:8081

NEXTAUTH_URL=http://localhost:8081
NEXTAUTH_URL_INTERNAL=http://localhost:8081

# Generate with:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
NEXTAUTH_SECRET=

PROXY_API_TARGET=http://localhost:8080
