NODE_ENV=development
HTTP_PORT=8080

MONGO_URI=mongodb://localhost/douyin-clone

BASE_URL=http://localhost:8080
BASE_URL_WEBHOOK_INTERNAL=http://localhost:8080

REDIS_QUEUE_HOST=127.0.0.1
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_DB=0
REDIS_QUEUE_USERNAME=
REDIS_QUEUE_PASSWORD=
REDIS_QUEUE_TLS=false

LOGGER_MONGO_URI=mongodb://localhost:27017/douyin-clone-logger

FILE_SERVER_BASE_URL=http://localhost:8000

# Generate a strong random secret locally.
FILE_SERVER_API_KEY=
FILE_SERVER_JWT_SECRET=
INTERNAL_API_KEY=